.skillsBlock {
    min-height: 100vh;
    background-color: #ebfdd1;

}

.skillsContainer {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #dad3d3;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}